
<!DOCTYPE html>
<html>

<head>

	<link rel="stylesheet"
		href="app.component.css">
</head>

<body>
	<div class="main">

		<p>
			<a href="#"
			style="text-decoration: none;">

				
<h1>Welcome to Qr Code Generation</h1>
<ngx-qrcode
  [elementType] = "elementType"
  [errorCorrectionLevel]="correctionLevel"
  [value]="value"
  cssClass="qrcodeshadow"></ngx-qrcode>
  <textarea [(ngModel)] = "value"></textarea>
			</a>
		</p>
	</div>
</body>

</html>

  
  
  
  

  
  
  
  